oss2
Flask
Flask-Cors
PyYAML
requests
scipy
scikit-image
python-dotenv
pyheif
whatimage
matplotlib
fingerprint_enhancer
opencv-python==4.5.3.56
pillow
minio
flasgger
colorlog
apscheduler
dlib==19.24.6
typing_extensions==4.13.2